body {
    background-color: #fff ;
}

.ad-btn, .update-btn {
    background-color: #d9534f;
    color: white;         
    border: none;          
    padding: 5px 10px;     
    border-radius: 10px; 
    cursor: pointer;      
    font-size: 14px;  
}

/* CSS cho table"*/
.table {
    table-layout: fixed;
    width: 100%;
    border: 2px solid black; 
    border-collapse: collapse;
}

.table th, .table td {
    white-space: nowrap; 
    overflow: hidden; 
}
   
.threedots {
    text-overflow: ellipsis;  /*Hiển thị dấu "..." nếu nội dung quá dài */
}

/* CSS cho tableProduct"*/
#productTable th:nth-child(1), #productTable td:nth-child(1),
#userTable th:nth-child(1), #userTable td:nth-child(1),
#orderTable th:nth-child(1), #orderTable td:nth-child(1){
    width: 40px; 
}

#productTable th:nth-child(5),  #productTable td:nth-child(5){
    width: 170px;
}

#productTable th:nth-child(4),  #productTable td:nth-child(4),
#productTableth:nth-child(6),  #productTable td:nth-child(6) {
    width:80px;
}

#productTable th:nth-child(7), #productTable td:nth-child(7) {
    width: 240px;
}

#productTable th:nth-child(8), #productTable td:nth-child(8){
    width: 100px;
}

/* CSS cho tableUser"*/
#userTable th:nth-child(3), #userTable td:nth-child(3) {
    width: 400px; 
}

#userTable th:nth-child(5), #userTable td:nth-child(5),
#orderTable th:nth-child(9), #orderTable td:nth-child(9) {
    width: 65px; 
    text-align: center;
}

/* CSS cho tableUser"*/
#orderTable th:nth-child(3), #orderTable td:nth-child(3) {
    width: 70px;
    text-align: center;
}

#orderTable th:nth-child(4), #orderTable td:nth-child(4) {
     width: 80px;
     text-align: center;
}

#orderTable th:nth-child(5), #orderTable td:nth-child(5) {
    white-space:  pre-wrap;
    text-align: center;
}

/* CSS cho nút "Edit" và "Delete"*/
.edit-btn, .delete-btn {
    color: black;        
    border: none;          
    padding: 5px 10px;     
    border-radius: 10px; 
    cursor: pointer;      
    font-size: 14px;   
}

.delete-btn:hover, .edit-btn:hover, .ad-btn:hover {
    color: #f37006;
}
  
  /* CSS modal */
.admin-modal .modal-body, .admin-modal .modal-header,.admin-modal .modal-footer {
    padding: 5px; 
    margin-left: 10px;
    margin-right: 10px;
}

.admin-modal .modal-content {
    padding: 0; 
    margin-top: 1.5rem;
    width: 100%;
    height:470px;
    background-color:  #f8d3d3;
    left:15%;

}

/* .modal-header{
    background-color:  #f8d3d3;
    background-color: #b19cd9;
} */

.admin-modal .modal-title {
    margin-bottom: 0;
    line-height: var(--bs-modal-title-line-height);
    text-align: center; 
    width: 100%;       
}

.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: .5rem .5rem .5rem auto;
}

.btn:focus, .btn:active, .modal-header .btn-close:focus, .modal-header .btn-close:active {
    box-shadow: none !important; 
}

.admin-modal .modal-footer .btn {
    width:100%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #d9534f;
}

.admin-modal .modal-footer .btn:hover {
    background-color: #c9302c;
}


.modal-backdrop.show {
    display: none;
}


