.detail {
  background-color: #fff;
  width: 100%;
  padding: 20px;             /* Khoảng cách từ ảnh đến lề */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.mt-5 {
  margin-top: 1.25rem !important;
}

.row {
 margin-top:10px;
}
#product-detail-1, #product-detail-2 {
  width:100%;
}

 /* ẢNH */
.card-img {
  width: auto;        /* Đảm bảo ảnh co dãn tự nhiên */
  height: 300px;          
  max-width: 100%;           
  object-fit: cover;
  margin-left: 50px;   
}

 /* Đảm bảo chữ trong detail */
#product-price, #product-code,
#product-title, #product-gift {
  display: inline;
  justify-content: space-between;
  line-height: 2rem;
}

#product-code span {
  margin-right: 80px;
}
#product-title span {
  margin-right: 85px;
}

#product-newPrice, #text-gift, 
#text-product-gift {
  margin-right: 20px;
}

.gift-icon {
  color:orange;
}

.mb-3{
  display: flex;
  align-items: center; 
}

.me-2 {
  font-size: 1rem; 
}

 /* Đảm bảo BUTTON QUATITY*/
.quantity .input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #ccc;
  margin-left: 50px; 
  margin-top: 5px;
  border-radius: 10px;
  width: 150px; 
  height: 40px; 
  overflow: hidden;
}

.quantity .input-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
  font-size: 1.5rem; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #fff;
  margin:0;
}

.quantity .input-group #decrease {
  border-right: 2px solid #ccc;
  border-radius: 0; 
}

.quantity .input-group #increase {
  border-left: 2px solid #ccc;
  border-radius: 0; 
}

.quantity .input-group .btn:hover{
  background-color: #ccc !important; 
}

.quantity .input-group input {
  text-align: center;
  flex-grow: 1;
  height: 40px; 
  border: none;
  font-size: 1.25rem;
  background-color: #efe9e9;
}

.btn {
  margin-right: 20px; 
  width:35%;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none; 
}

.add-btn, .buy-btn {
  color:black;
}

.add-btn:hover,.buy-btn:hover {
  color: #fff;
}

.btn:hover {
  background-color:  rgb(253, 141, 13);
}

.btn:focus, .btn:active {
  box-shadow: none !important; /* Loại bỏ bóng khi focus hoặc nhấn */
}

#product-describe {
  font-size: 1.55rem; 
  font-weight: 500;  /* Độ đậm chữ */
  line-height: 1.2;  /* Khoảng cách giữa các dòng */
  margin-bottom: 0rem;
  width: 97%; 
  word-wrap: break-word; /* Tự động ngắt dòng khi cần */
  text-align: justify; /* Canh đều văn bản */
  white-space: normal; /* Đảm bảo văn bản ngắt dòng bình thường */
}

hr {
  border-top: 1.5px solid black; 
  margin: 10px 0; /* Tạo khoảng cách 10px ở trên và dưới đường thẳng */
  width: 100%; /* Đường thẳng chiếm toàn bộ chiều ngang */
}
