* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 56px;
}

/* Header CSS */

.sticky-navbar {
  padding: 18px 28px;
}

.navbar-brand h1 {
  font-size: 24px;
  color: #f63838;
}

.search-input {
  width: 100%;
  max-width: 200px;
  border-radius: 30px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.navbar-nav .nav-link {
  color: #333;
  font-size: 16px;
}

.navbar-nav .nav-link:hover {
  color: #ff3402;
}

.icon-links {
display: flex;
align-items: center;
}

.icon-links i {
	color: #333;
	font-size: 20px;
	margin-left: 15px;
	cursor: pointer;
}

.icon-links i:hover {
  	color: #ff1313;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 38px;
  right: -32px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-links.user-icon {
	position: relative;
}
  
.icon-links.user-icon:hover .dropdown-menu {
	display: block;
}
  
.icon-links.cart {
	position: relative;
}

.dropdown-menu a {
	display: block;
	padding: 5px 0;
	color: #333;
	text-decoration: none;
}

.dropdown-menu a:hover {
    color: #f63838;
}

/* .dropdown-menu a[class="dropdownOut"] {
  display: none;
} */

.sticky-navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .search-input {
    max-width: 150px;
  }
}

@media (max-width: 576px) {
  .search-input {
    max-width: 200px;
  }

  .icon-links i {
    font-size: 18px;
  }
}
/* Css Panel */

.sale-pannel {
    height: 500px;
    background-color: #ffdde0;
    position: relative;
    width: 100%;
}

.time-count-down {
    width: 60%;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    padding-top: 5%;
}

.time-count-down h4 {
    color: #ff4747;
}

#timer {
    font-size: 2rem;
    margin-top: 20px;
    color: #d22424;
}

#timer span {
    font-weight: bold;
    color: #d22424;
}

.sale-info {
    margin-top: 36px;
}

.sale-info .new-arrivals{
    margin-left: 136px;
    font-size: 30px;
    color: #f63838;
    font-weight: bold;
}

.sale-info .Vietnamese-Women-Day {
    margin-left: 136px;
    font-size: 46px;
    color: #796060;
}

.sale-info .Exclusive {
    margin-left: 136px;
    color: #201c1c;
    font-size: 22px;
    margin-top: 28px;
}

.sale-img {
    position: absolute;
    top: -6%;
    right: 5%;
}

.sale-img img {
    width: 550px;
}

/* Responsive panel */

@media (max-width: 1300px) {
	.sale-img img {
		display: none;
	}
	.sale-pannel {
		text-align: center;
	}
	.sale-info .Exclusive {
		margin-left: 0;
	}
	.sale-info .Vietnamese-Women-Day {
		margin-left: 0;
	}
	.sale-info .new-arrivals {
		margin-left: 0;
	}
	.time-count-down {
		width: 100%;
	}
}
  
@media (max-width: 576px) {
	.sale-img img {
		display: none;
	}
}

/* CSS Products */

.product-title {
    height: 72px;
}

.product-title h4 {
    line-height: 72px;
    margin-left: 20px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    overflow: hidden;
}

.product-item {
    flex: 0 0 21%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
}

.product-item img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.product-item img:hover {
    transform: scale(1.1);
}

.card-body {
    padding: 10px;
    text-align: center;
}

/* Định dạng tiêu đề sản phẩm */
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}


.card-text {
    color: #ff5722;
    font-size: 16px;
}

.card-btn-left {
    background-color: #f6c438;
    border: none;
    color: #000;
    width: 120px;
    height: 35px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}

/* Responsive Products */

@media (max-width: 968px) {
	.product-item {
		flex: 0 0 28%;
	}
}

@media (max-width: 768px) {
	.product-item {
		flex: 0 0 45%;
	}
}
  
@media (max-width: 576px) {
	.product-item {
		flex: 0 0 80%;
	}
}


/* CSS Feedback */

.feedback-container {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.feedback-title h2 {
  text-align: center;
  color: #f63838;
  font-size: 24px;
  margin-bottom: 20px;
}

.feedback-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.feedback-input-group {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.feedback-input-group label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.feedback-input-group input,
.feedback-input-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.feedback-input-group textarea {
  min-height: 100px;
}

.feedback-extra {
  width: 48%;
  text-align: left;
  align-self: flex-end;
}

.feedback-extra p {
  font-size: 14px;
  color: #777;
}

.feedback-extra a {
  color: #D88484;
  text-decoration: none;
}

.feedback-extra a:hover {
  text-decoration: underline;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  background-color: #D88484;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #c57373;
}

/* Responsive cho tablet và mobile */
@media (max-width: 768px) {
  .feedback-row {
      display: block;
  }
  
  .feedback-input-group {
      width: 100%;
      margin-bottom: 15px;
  }

  .feedback-extra {
      width: 100%;
      text-align: left;
  }

  .feedback-title h2 {
      font-size: 22px;
  }

  .feedback-input-group input,
  .feedback-input-group textarea {
      font-size: 13px;
  }

  .button-group button {
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .feedback-title h2 {
      font-size: 20px;
  }

  .feedback-input-group input,
  .feedback-input-group textarea {
      font-size: 12px;
  }

  .button-group button {
      font-size: 14px;
  }
}


/* CSS Footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.footer-info, .footer-shop-address, .footer-qr {
    flex: 1;
    text-align: center;
}

.footer-info h3 {
    color: #808080;
}
.footer-info p {
    color: #727272;
}

.footer-shop-address p {
    color: #878787;
}

.footer-icon {
    margin-top: 10px;   
}

.footer-icon i {
    margin: 0 5px;
    font-size: 20px;
    color: #98a2b3;
}

.footer-qr img {
    width: 140px;
    display: inline-block;
}

.copy-right {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
/* form */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 45px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Responsive footer */
@media (max-width: 576px) {
	.footer-info, .footer-shop-address, .footer-qr {
    flex: 1 1 80%;
    text-align: center;
  }
}


@media (max-width: 576px) {
	.product-item {
		flex: 0 0 80%;
	}
}
/* CSS cta, step, testiminial */


.home-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    /* align-items: center; */
    flex-direction: column;
  }
  
  .cta-wrapper {
    display: contents;
  }
  .cta-accent2-bg {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
    align-self: stretch;
    transition: 0.3s;
    align-items: center;
    border-radius: var(--dl-radius-radius-cardradius);
    justify-content: space-between;
    transform-style: preserve-3d;
    background-color: var(--dl-color-theme-accent2);
  }
  .cta-accent2-bg:hover {
    transform: scale3d(1.1,1.1,1.1);
  }
  .cta-accent1-bg {
    width: 100%;
    display: flex;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
    align-items: center;
    border-radius: var(--dl-radius-radius-cardradius);
    justify-content: space-between;
    transform-style: preserve-3d;
    background-color: var(--dl-color-theme-accent1);
  }
  .cta-container2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-cardradius);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .cta-container2:hover {
    color: var(--dl-color-theme-neutral-light);
    background-color: var(--dl-color-theme-neutral-dark);
  }
  .cta-content {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .cta-actions {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  @media(max-width: 767px) {
    .cta-container2 {
      gap: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  @media(max-width: 479px) {
    .cta-actions {
      flex-wrap: wrap;
      align-self: stretch;
      justify-content: center;
    }
    .cta-button {
      flex: 1;
    }
  }
  
  .steps-wrapper {
    display: contents;
  }
  .steps-container1 {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .steps-max-width {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .steps-container2 {
    align-items: start;
  }
  .steps-section-header {
    gap: var(--dl-space-space-oneandhalfunits);
    top: 18%;
    display: flex;
    position: sticky;
    align-items: flex-start;
    flex-direction: column;
  }
  .steps-actions {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
  }
  .steps-container3 {
    grid-area: span 1/span 1/span 1/span 1;
  }
  .steps-container4 {
    top: 18%;
    position: sticky;
    transform: rotate(-2deg);
    margin-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-theme-accent1);
  }
  .steps-text14 {
    text-align: center;
  }
  .steps-text15 {
    top: var(--dl-space-space-unit);
    right: var(--dl-space-space-unit);
    position: absolute;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  .steps-container5 {
    top: 18%;
    position: sticky;
    transform: rotate(2deg);
    margin-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-theme-accent2);
  }
  .steps-text17 {
    text-align: center;
  }
  .steps-text18 {
    top: var(--dl-space-space-unit);
    right: var(--dl-space-space-unit);
    position: absolute;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  .steps-container6 {
    top: 18%;
    position: sticky;
    transform: rotate(-2deg);
    margin-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-theme-accent1);
  }
  .steps-text20 {
    text-align: center;
  }
  .steps-text21 {
    top: var(--dl-space-space-unit);
    right: var(--dl-space-space-unit);
    position: absolute;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  .steps-container7 {
    top: 18%;
    position: sticky;
    transform: rotate(2deg);
    background-color: var(--dl-color-theme-accent2);
  }
  .steps-text23 {
    text-align: center;
  }
  .steps-text24 {
    top: var(--dl-space-space-unit);
    right: var(--dl-space-space-unit);
    position: absolute;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  @media(max-width: 991px) {
    .steps-max-width {
      flex-direction: column;
    }
  }
  @media(max-width: 767px) {
    .steps-section-header {
      position: static;
      margin-bottom: var(--dl-space-space-twounits);
    }
    .steps-actions {
      width: 100%;
      align-self: flex-start;
    }
    .steps-container4 {
      width: 100%;
    }
    .steps-container5 {
      width: 100%;
    }
    .steps-container6 {
      width: 100%;
    }
    .steps-container7 {
      width: 100%;
    }
  }
  @media(max-width: 479px) {
    .steps-button {
      width: 100%;
    }
  }
  
  .testimonial-wrapper {
    display: contents;
  }
  .testimonial-max-width {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .testimonial-container10 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: 600px;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .testimonial-text11 {
    text-align: center;
  }
  .testimonial-container12 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .testimonial-image1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .testimonial-container13 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .testimonial-text14 {
    text-align: left;
  }
  .testimonial-container14 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .testimonial-image2 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .testimonial-container15 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .testimonial-text17 {
    text-align: left;
  }
  .testimonial-container16 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .testimonial-image3 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .testimonial-container17 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .testimonial-text20 {
    text-align: left;
  }
  .testimonial-container18 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .testimonial-image4 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .testimonial-container19 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .testimonial-text23 {
    text-align: left;
  }
  @media(max-width: 991px) {
    .testimonial-container10 {
      margin-bottom: var(--dl-space-space-threeunits);
    }
  }
  @media(max-width: 767px) {
    .testimonial-container10 {
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .testimonial-card1 {
      width: 100%;
    }
    .testimonial-card2 {
      width: 100%;
    }
    .testimonial-card3 {
      width: 100%;
    }
    .testimonial-card4 {
      width: 100%;
    }
  }
  
  :root {
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-color-theme-accent1: #CCC7D6;
    --dl-color-theme-accent2: #AEA7BF;
    --dl-radius-radius-round: 50%;
    --dl-color-theme-primary1: #ed2a4f;
    --dl-color-theme-primary2: #698a93;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-color-theme-secondary1: #E6EBE0;
    --dl-color-theme-secondary2: #d9ded3;
    --dl-space-space-threeunits: 48px;
    --dl-color-theme-neutral-dark: #000000;
    --dl-radius-radius-cardradius: 0;
    --dl-color-theme-neutral-light: #FFFFFF;
    --dl-radius-radius-imageradius: 0;
    --dl-radius-radius-inputradius: 0;
    --dl-radius-radius-buttonradius: 0;
    --dl-space-space-oneandhalfunits: 24px;
  }
  .button {
    color: var(--dl-color-theme-neutral-dark);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .input {
    color: var(--dl-color-theme-neutral-dark);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .textarea {
    color: var(--dl-color-theme-neutral-dark);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
    transform: none !important;
  }
  .thq-input {
    color: var(--dl-color-theme-neutral-dark);
    cursor: auto;
    outline: none;
    padding: 0.5rem 1rem;
    align-self: stretch;
    text-align: center;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-inputradius);
    background-color: var(--dl-color-theme-neutral-light);
  }
  .thq-input:focus {
    outline: 1px solid var(--dl-color-theme-primary1);
  }
  .thq-button-filled {
    gap: var(--dl-space-space-halfunit);
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    align-items: center;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    white-space: nowrap;
    border-color: var(--dl-color-theme-primary1);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
    background-color: var(--dl-color-theme-primary1);
  }
  .thq-button-filled:hover {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
    border-color: var(--dl-color-theme-primary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-button-outline {
    gap: var(--dl-space-space-halfunit);
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    border: 1px solid;
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    align-items: center;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    white-space: nowrap;
    border-color: var(--dl-color-theme-primary1);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .thq-button-outline:hover {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
    border-color: var(--dl-color-theme-primary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-button-flat {
    gap: var(--dl-space-space-halfunit);
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    align-items: center;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    white-space: nowrap;
    border-color: transparent;
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .thq-button-flat:hover {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    border-color: var(--dl-color-theme-primary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-heading-1 {
    font-size: 48px;
    font-family: STIX Two Text;
    font-weight: 700;
    line-height: 1.5;
  }
  .thq-heading-2 {
    font-size: 35px;
    font-family: STIX Two Text;
    font-weight: 600;
    line-height: 1.5;
  }
  .thq-heading-3 {
    font-size: 26px;
    font-family: STIX Two Text;
    font-weight: 600;
    line-height: 1.5;
  }
  .thq-body-large {
    font-size: 18px;
    font-family: Noto Sans;
    line-height: 1.5;
  }
  .thq-body-small {
    font-size: 16px;
    font-family: Noto Sans;
    line-height: 1.5;
  }
  .thq-team-image-round {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .thq-section-padding {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .thq-section-max-width {
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
  }
  .thq-img-ratio-1-1 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-16-9 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-4-3 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-4-6 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/6;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-round {
    width: 100%;
    border-radius: var(--dl-radius-radius-round);
  }
  .thq-flex-column {
    gap: var(--dl-space-space-twounits);
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .thq-flex-row {
    gap: var(--dl-space-space-twounits);
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
  }
  .thq-grid-6 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .thq-grid-5 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .thq-card {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    padding: var(--dl-space-space-twounits);
    align-items: stretch;
    border-radius: var(--dl-radius-radius-cardradius);
    flex-direction: column;
  }
  .thq-box-shadow {
    box-shadow: 0px 0px 5px -2px var(--dl-color-theme-neutral-dark);
  }
  .thq-grid-3 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-grid-4 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .thq-grid-2 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .thq-checkbox {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .thq-select {
    cursor: pointer;
    appearance: none;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-inputradius);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-theme-neutral-light);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  .thq-divider-horizontal {
    width: 100%;
    height: 1px;
    background-color: var(--dl-color-theme-neutral-dark);
  }
  .thq-icon-small {
    width: 24px;
    height: 24px;
  }
  .thq-button-icon {
    fill: var(--dl-color-theme-secondary1);
    padding: 3px;
    transition: 0.3s;
    border-radius: var(--dl-radius-radius-round);
  }
  .thq-button-icon:hover {
    fill: var(--dl-color-theme-secondary2);
  }
  .thq-icon-medium {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .thq-icon-x-small {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .thq-link {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
    transition: background-position 300ms ease;
    font-weight: 600;
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-text-fill-color: transparent;
  }
  .thq-link:hover {
    background-position: 0 100%;
  }
  .thq-grid-auto-300 {
    display: grid;
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .thq-animated-group-vertical-reverse {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    animation: scroll-y 20s linear infinite;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    animation-direction: reverse;
  }
  .thq-animated-group-horizontal-reverse {
    gap: var(--dl-space-space-unit);
    display: flex;
    animation: scroll-x 20s linear infinite;
    min-width: 100%;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-around;
    animation-direction: reverse;
  }
  .thq-animated-group-vertical {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    animation: scroll-y 20s linear infinite;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
  }
  .thq-animated-group-horizontal {
    gap: var(--dl-space-space-unit);
    display: flex;
    animation: scroll-x 20s linear infinite;
    min-width: 100%;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-around;
  }
  .thq-animated-group-container-vertical {
    gap: var(--dl-space-space-unit);
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
  .thq-animated-group-container-horizontal {
    gap: var(--dl-space-space-unit);
    display: flex;
    overflow: hidden;
  }
  .thq-mask-image-vertical {
    mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent);
  }
  .thq-mask-image-horizontal {
    mask-image: linear-gradient(to right, transparent, black 1%, black 99%, transparent);
  }
  .thq-img-scale {
    transition: 0.3s;
  }
  .thq-img-scale:hover {
    scale: 1.05;
  }
  .thq-animated-card-bg-1 {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: var(--dl-radius-radius-cardradius);
    background-color: var(--dl-color-theme-accent1);
  }
  .thq-animated-card-bg-2 {
    transition: transform 0.3s;
    border-radius: var(--dl-radius-radius-cardradius);
    background-color: var(--dl-color-theme-accent2);
  }
  .thq-button-animated {
    outline: none;
    z-index: 1;
    overflow: hidden;
    position: relative;
    border-width: 2px;
  }
  .thq-input::placeholder {
    text-align: center;
    vertical-align: middle;
  }
  .thq-animated-group-container-vertical:hover div {
    animation-play-state: paused;
  }
  .thq-animated-group-container-horizontal:hover div {
    animation-play-state: paused;
  }
  .thq-animated-card-bg-2:has([data-animated="true"]:hover) {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
  }
  .thq-animated-card-bg-1:has([data-animated="true"]:hover) {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
}
.thq-button-animated:before {
    top: 0;
    left: -20%;
    color: var(--dl-color-theme-neutral-light);
    width: 200%;
    height: 101%;
    content: "";
    z-index: 1;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.5s;
    border-radius: var(--dl-radius-radius-buttonradius);
    background-color: var(--dl-color-theme-neutral-dark);
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.thq-button-animated:hover::before {
	color: var(--dl-color-theme-neutral-light);
	z-index: -1;
	transform: scaleX(1);
}
.Content {
	font-size: 16px;
	font-family: Inter;
	font-weight: 400;
	line-height: 1.15;
	text-transform: none;
	text-decoration: none;
}
@media(max-width: 991px) {
    .thq-grid-4 {
      grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width: 767px) {
    .thq-section-padding {
      padding: var(--dl-space-space-threeunits);
    }
    .thq-flex-column {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .thq-flex-row {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .thq-grid-6 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr 1fr;
    }
    .thq-grid-5 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr 1fr;
    }
    .thq-card {
      padding: var(--dl-space-space-oneandhalfunits);
    }
    .thq-grid-3 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-4 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      flex-direction: row;
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-2 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr;
    }
    .thq-img-scale {
      width: 100%;
    }
}
@media(max-width: 479px) {
	.thq-section-padding {
		padding: var(--dl-space-space-oneandhalfunits);
	}
	.thq-flex-column {
		gap: var(--dl-space-space-unit);
	}
	.thq-flex-row {
		gap: var(--dl-space-space-unit);
	}
	.thq-grid-6 {
		grid-gap: var(--dl-space-space-unit);
		grid-template-columns: 1fr 1fr;
	}
	.thq-grid-5 {
		grid-gap: var(--dl-space-space-unit);
		grid-template-columns: 1fr 1fr;
	}
	.thq-grid-3 {
		grid-gap: var(--dl-space-space-unit);
		align-items: center;
		grid-template-columns: 1fr;
	}
	.thq-grid-4 {
		grid-gap: var(--dl-space-space-unit);
		align-items: center;
		flex-direction: column;
		grid-template-columns: 1fr;
	}
	.thq-grid-2 {
		grid-gap: var(--dl-space-space-unit);
	}
	.thq-grid-auto-300 {
		grid-template-columns: 1fr;
	}
}

/* CSS Form Login and Register */

.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #f8d3d3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    cursor: pointer;
}
.alert {
    display: none;
}
.btn-social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}
.forgot-password {
    font-size: 14px;
    color: #d9534f;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}
.btn-primary {
    background-color: #d9534f;
    border: none;
}
.btn-primary:hover {
    background-color: #c9302c;
}
.terms-text {
    font-size: 12px;
    color: #777;
}
.terms-text a {
    text-decoration: none;
    color: #d9534f;
}

/* CSS Go to Top */

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: none; /* Ẩn nút khi trang không cuộn */
  background-color: #aea7bf;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #8974bb;
}